@model List<News>


<a href="@Url.ActionLink("Create", "News")"><button>добавить новость</button></a>

<table class="main--table" border="1px">


    <tr>
        <th class="news--name">Название новости</th>
        <th>Описание новости</th>
        <th>Действия</th>
        <th>Фотографии</th>
    </tr>
    @foreach (var news in Model)
    {
        <tr>
            <td>@news.Name</td>
            <td class="news--description">@news.Description</td>
            <td class="news--settings">
                <a href="@Url.ActionLink("Edit", "News", new {NewsId = news.Id})"><button>редактировать</button></a>
@*                если ипользуешь Html - хэлперы, то передавать можно id в самом BeginForm , передавая id через оператор new
                                                                    new {id =news.Id }
            также удаление - это метод post , в хэлпере добавить FormMethod.Post перед new
*@                @using (Html.BeginForm("DeleteNews", "News", new { }))
                {
                    <input type="hidden" name="Id" value="@news.Id" />
                    <input class="input_submit" type="submit" id="delete" value="Удалить новость">
                }

            </td>
            
            <td>
@*                что за пробелы между строками? )
*@                    <div class="small-img"><img height="100" src="@news.MainPicturePath" alt=""></div>
                    <a href="@Url.ActionLink("PicturesEdit", "Pictures", new {NewsId = news.Id})"><button>edit</button></a>
                


            </td>
        </tr>
    }
</table>
<style>
    .main--table{
    width: 100%;
        border:1px solid white;
}
.main--table td{
    padding: 5px 10px;
    border:1px solid white;
}
.news--description{
    width:50% ;
}
td a button{
    background: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
th{
    text-align:center;
    border:1px solid white;
}
.news--button{
      border:1px solid grey;
       background: black;
}
.news--name{
    width:20% ;
}
.small-img img{
    height: 100px;
}
.galary--button{
    background: none;
    border-radius:5px; 
    font-size: 20px;
    margin: 0px 10px;
}
.galary--content{
    display: flex;
}
input {
    background-color: #252740;
    transition: 1s;
    border: 1px solid transparent;
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10px 0;
}
    input:hover {
        border: 1px solid #59d9c3;
        background-color: #58596b;
    }

button {
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #252740;
    transition: 1s;
    border: 1px solid transparent;
}

    button:hover {
        border: 1px solid #59d9c3;
        background-color: #58596b;
    }

img {
    height: 100px;
}
#delete {
    padding: 10px 40px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #252740;
    transition: 1s;
    border: 1px solid transparent;
}
</style>